/* 全局样式 */
body {
  background-color: #f5f7f9;
}
.van-nav-bar__content {
  height: 90px;
  background-color: #3296fa;
}
.van-nav-bar__content .van-nav-bar__title {
  color: #fff;
  font-size: 32px;
}
.van-nav-bar__content .heimaweb {
  color: #fff;
  font-size: 20px !important;
}
